<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="../static/bootstrap.min.css" media="screen"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="Title.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AuthorList.html">Author List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Book.html">Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Author.html">Author</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AddBook.html">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AddAuthor.html">Add Author</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Add Book</h1>

                <form class="form-horizontal" >
                    <fieldset>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">* Name </label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Write the Name here..." disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput"> Year</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Write the year here..." disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">Size</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Write the size here..." disabled="">
                            </fieldset>
                        </div>
                    </fieldset>
                    <input type="submit" value="Add Book"/>
                </form>
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Attention!</strong> * required field is indicated
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>