<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Author</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Author</h1>

                <form class="form-horizontal" th:action="@{/book/{id}/author(id=${book.id})}" method="post" enctype="multipart/form-data" >
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" disabled="disabled"
                                       th:value="${author.firstName + ' ' + author.lastName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">yearOfBirth</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" disabled="disabled"
                                       th:value="${author.yearOfBirth}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 col-lg-offset-2">
                                <div class="input-group">
                                    <select name="bookId" class="form-control">
                                        <option th:each="book : ${book}"
                                                th:value="${book.id}"
                                                th:text="${book.description}">Book</option>
                                    </select>
                                    <span class="input-group-btn">
									<button type="submit" class="btn btn-default">Add Book</button>
								</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>