<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <!--/*@thymesVar id="author" type="proj.Katiko.MyMVC.Base.DataOfBook.Author"*/-->
    <!--/*@thymesVar id="authors" type="java.util.List<Author>"*/-->

    <head>
    <title>Author List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap.min.css" type="text/css" media="all"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/title">Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/title">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/authorList">Author List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/addBook">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/addAuthor">Add Author</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Author List</h1>

                <form action="#" class="form-horizontal" th:action="@{/authorList}" method="post"  enctype="multipart/form-data" >
                    <fieldset>
                        <table class="table table-hover">
                            <thread>
                            <tr>
                                <th scope="col"> First Name</th>
                                <th scope="col"> Last Name </th>
                                <th scope="col">Year of birth</th>
                            </tr>
                            </thread>
                            <tbody>
                            <tr>
                            <tr th:each="author :${authors}">
                                <td th:text="${author.firstName}"></td>
                                <td th:text="${author.lastName}"></td>
                                <td th:text="${author.yearOfBirth}"></td>

                                <form th:action="@{/deleteAuthor}" th:method="delete" enctype="multipart/form-data">
                                    <input type="hidden" name="id" th:value="${author.id}">
                                    <td>
                                        <input type="submit" class="btn btn-warning" value="Delete"/>
                                    </td>
                                </form>
                                //TODO Предупреждать что удаление автора грозит поломкой страницы с книгами. Нужно удалять сразу все связанные книги


                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>