<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Author</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Author</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="Title.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AuthorList.html">Author List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AddBook.html">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AddAuthor.html">Add Author</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Author</h1>

                <form class="form-horizontal" th:action="@{/readAuthors}" method="post" enctype="multipart/form-data" >
                    <fieldset>
                    <div class="card mb-3">
                    <h3 class="card-header" th:action="@{/author}">Author name</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Information about the author</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li th:action="@{/firstName}" class="list-group-item">First name:</li>
                    <li th:action="@{/lastName}" class="list-group-item">Last name:</li>
                    <li th:action="@{/yearOfBirth}" class="list-group-item">Year of birth:</li>
                </ul>
                    </fieldset>
            </form>
        </div>
    </div>
</div>


</body>
</html>