<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="../static/bootstrap.min.css" media="screen"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="Title.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AuthorList.html">Author List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AddBook.html">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AddAuthor.html">Add Author</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Book</h1>

                <div class="card mb-3">
                    <h3 class="card-header" th:action="@{/book}">Book name</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Information about the book:</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li th:action="@{/yearBook}" class="list-group-item">Year of issue :</li>
                    <li th:action="@{/sizeBook}" class="list-group-item">Number of pages:</li>
                    <li th:action="@{/authorBook}" class="list-group-item">Author:</li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>